mixin item(props)
 .answer-advantages-item
    .answer-advantages-item__icon
        img(src=`assets/images/${props.img}`, alt="answer")
    .answer-advantages-item__text
        p.page-text #{props.text}

mixin items(arr)
    each obj in arr
        +item(obj)

//-answer-page
section.answer-page
    .wrapper
        .answer-page-inner
            
            .question-answer
                h1.page-title.page-title-h1 “My response to <br> your message “
                .message.answer.question-answer__message
                    .textAnswer Thank you for sharing your experience with me. It sounds like you went through a very challenging and emotionally draining time in your past relationship. I'm sorry to hear that you had to face such difficult episodes and that you felt emotionally manipulated into believing you were happy.
                        | Based on what you've shared, it seems there may be a few different negative thinking patterns at play here. Let's try to identify and address them one by one.
                        | All-or-Nothing Thinking: It seems you're labeling your entire relationship as a lie and your happiness as completely nonexistent. However, relationships are complex, and it's possible that there were both positive and negative aspects. Let's try to consider a more nuanced perspective. Can you think of any positive moments or aspects of your relationship, even if they were overshadowed by the negative experiences?
                        | Emotional Reasoning: It appears that you're equating your feelings of dread, emptiness, and defeat with the reality of your life. However, emotions are not always an accurate reflection of the truth. Let's explore alternative explanations for these feelings. Could they be influenced by the difficult circumstances you faced during that time or the emotional toll of the relationship itself?
                        | Jumping to Conclusions: You mentioned regretting your decisions and feeling that you should have noticed many things. It's important to recognize that hindsight is often clearer than the present moment. Rather than blaming yourself, let's focus on what you've learned from this experience and how you can use that knowledge moving forward.
                        | Personalization: You mentioned feeling dependent and reliant on your partner. It's essential to remember that both individuals in a relationship contribute to its dynamics. It's not solely your responsibility for any shortcomings or difficulties. Reflecting on this, what aspects of the relationship do you think were outside of your control?
                        | Now, let's reframe some of your thoughts based on the above considerations:
                        | Instead of labeling the entire relationship as a lie, acknowledge that there were both positive and negative aspects, even if the negatives overshadowed the positives.
                        | Recognize that your feelings of dread, emptiness, and defeat were influenced by the difficult circumstances and emotional toll of the relationship, rather than an accurate reflection of your life overall.
                        | Rather than blaming yourself for not noticing certain things, focus on what you've learned from this experience and how you can apply that knowledge to future relationships.
                        | Remember that dependency and reliance in a relationship are a shared responsibility, and it's important to consider the dynamics and actions of both individuals involved.
                        | Please take a moment to reflect on these reframed thoughts and let me know your reactions or any additional thoughts that come to mind.
            //- .answer-page__advantages
                //- +items([
                //-     {
                //-         img:"Warning.svg",
                //-         text:"I can't judge, and I won't reveal your secrets to anyone."
                //-     },
                //-     {
                //-         img:"CheckCircle.svg",
                //-         text:"Open up and discover your true desires."
                //-     },
                //-     {
                //-         img:"CheckCircle.svg",
                //-         text:"Be yourself. Share any thoughts and feelings."
                //-     },
                //-     {
                //-         img:"CheckCircle.svg",
                //-         text:"Coup with what's bothering you."
                //-     },
                //-     {
                //-         img:"CheckCircle.svg",
                //-         text:"Just talk about how your day went."
                //-     }
                //- ])
            .answer-page__quiz
                .answer-page__quiz-section(v-if="!isAnonimys")
                    include ../form/form.component.pug
                    v-form.page-form.callback-form( action="", method="post")
                        input(type="hidden", name="email" :value="email")
                        h3.page-title.page-title-h3 To continue the conversation, <br> please enter email
                        p.page-text It is necessary to preserve our correspondence. If you want to remain anonymous, you will have to tell me the story again.
                        v-text-field.page-input(
                            v-model="email"
                            label="Email address" 
                            placeholder="johndoe@gmail.com"  
                            variant="outlined" 
                            type="email"
                            :rules="emailRules"
                            )

                        div.privacy By signing up you agree to the 
                            a.page-link(href="javascript:void(0)") Terms of Use 
                            | and 
                            a.page-link(href="javascript:void(0)") Privacy Policy
                        v-btn.page-btn.page-btn_blue(type="submit") Get a response
                        .page-link.callback-link(@click="isAnonimys = true") Continue without email
                        
                .answer-page__quiz-section(v-if="isAnonimys")
                    .answer-page__quiz-section-title(v-if="!isShowGetInstructions")
                        h3.page-title.page-title-h3 Do you have <br>Telegram app?
                        p.page-text Telegram is an analog of WhatsApp. Messenger in which we will communicate
                    .answer-page__quiz-actions
                        a.page-btn.page-btn_blue(v-if="!isShowGetInstructions" href="https://t.me/miahelps_bot" target="_blank") YES
                        v-btn.page-btn.page-btn_white(v-if="!isShowGetInstructions" @click="isShowGetInstructions = !isShowGetInstructions") NO
                        
                        v-form.page-form.callback-form(v-if="isShowGetInstructions" action="", method="post")
                            h3.page-title.page-title-h3(v-if="isShowGetInstructions") Get instructions on how to install Telegram app
                            p.page-text Since you don't have Telegram and you haven't provided an email address, we won't be able to continue the conversation... If you're interested, please leave your email address.
                            input(type="hidden", name="email" :value="email")
                            v-text-field.page-input(
                                v-model="email"
                                label="Email address" 
                                placeholder="johndoe@gmail.com"  
                                variant="outlined" 
                                type="email"
                                :rules="emailRules"
                                )
                            v-btn.page-btn.page-btn_blue(type="submit") Get instructions