//-first-page
section.first-page
    .wrapper
       .first-page-inner
            h1.page-title.page-title-h1  Stranger, hey! 
            p.page-text You've just taken a step into a space, where your feelings and experiences matter.
            p.page-text A place that’s safe, supportive, and entirely non-judgmental. Here you're accepted, just as you are.
            h2.page-title.page-title-h2 Choose which story <br> you want to tell 
            v-form.page-form(action="", method="post") 
                input(type="hidden", name="question" :value="question")
                input(type="hidden", name="answer" :value="textarea")
                v-select(
                    v-model="question"
                    :items="['What is your biggest regret?', 'Who was your greatest love and why did you fall in love with them?', 'The words that hurt you the most?', 'How are you? (Just be honest)', 'Write a letter that he/she will never read.', 'Other']"
                    density="compact"
                    label="Select question"
                    variant="solo"
                )
                v-textarea(
                    v-model="textarea"
                    label="Write it down and let it go" 
                    no-resize 
                    variant="solo"
                    :rules="textareaRules"
                    )
                v-btn.page-btn.page-btn_blue(
                    type="submit"
                    ) Submit
                a.page-link.callback-link(href="./about/about.html") next 